# Arquivos de ambiente e segredos
.env
**/.*env*

# Ambientes virtuais
venv/
env/
ENV/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Flask / Logs
instance/
.webassets-cache

# Bancos de dados vetoriais e arquivos locais pesados
chroma_db/
*.db
*.sqlite3
*.mp4

# Arquivos do Editor (VS Code)
.vscode/
.idea/
.DS_Store

# Instaladores executáveis
*.exe